<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cloud.shoplive.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name=".views.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShopLiveSample"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="cloud.shoplive.sample.views.campaign.CampaignActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.views.user.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.views.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.views.settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.WebViewActivity"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.shortform.HybridShortformActivity"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.shortform.NativeShortformActivity"
            android:theme="@style/Theme.ShopLiveSample" />

        <activity
            android:name="cloud.shoplive.sample.shortform.ShortformProductActivity"
            android:theme="@style/Theme.ShopLiveSample" />

        <!-- ex) shoplive://live?accessKey=xxxxxxxxxx&campaignKey=yyyyyyyyyyyyyy-->
        <activity
            android:name=".SchemeActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ShopLiveSample">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="live"
                    android:scheme="shoplive" />
            </intent-filter>
        </activity>

    </application>
</manifest>